.feynman__title {
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;
    text-align: center;
    margin-top: 0;
    z-index: 2;
  }