@keyframes rotate{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
  display: flex;
}
.description {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 0px;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}
.header__title {
  display: flex;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  align-items: center;
  width: 730px;
  z-index: 2;
}
.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  z-index: 2;
  margin: 0;
}
.header__link {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-left: 10px;
  color: #2f80ed;
  text-decoration: none;
}
.header__link:hover {
  transition: transform .4s ease-in;
  opacity: 0.5;
}
.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}
.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}
.rotation {
  animation: rotate 20s linear infinite;
}
.techniques {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.cards {
  display: flex;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}
.cards__item {
  width: min-content;
  text-align: center;
  margin-right: 100px;
}
.cards__item:nth-of-type(3) {
  margin-right: 0;
}
.cards__image {
  width: 160px;
  height: 160px;
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 43px;
  border-radius: 160px;
}
.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 16px;
}
.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
.video {
  margin-top: 100px;
  max-height: 400px;
  overflow: visible;
}
.video__iframes {
  min-width: 515px;
  min-height: 316px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 0px;
}
.video__iframe {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}
.oakley {
  display: flex;
  padding-top: 160px;
  padding-bottom: 80px;
  justify-content: center;
  background-color: #F2F2F2;
}
.two-columns__brief {
  color: #2f80ed;
  text-decoration: none;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  margin: 0;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  margin-top: 0px;
}
.two-columns__paragraph:nth-child(3) {
  margin: 0;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}
.digits {
  display: flex;
  margin: auto;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 100px;
}
.section-title {
  text-align: center;
  display: block;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}
.section-subtitle {
  text-align: center;
  display: block;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}
.table {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table__cell {
  width: 250px;
  display:flex;
  flex-direction: column;
  padding-top: 60px;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0px;
}
.feynman {
  background-color: #f2f2f2;
  min-height: 790px;
  position: relative;
  z-index: -1;
  padding: 0;
}
.feynman__logo {
  height: 637px;
  width: 867px;
  position: absolute;
  bottom: 30px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
  margin-bottom: 0px;
  padding-bottom: 70px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 0;
}
.feynman__subtitle {
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  margin-bottom : 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
}
.feynman__link:hover {
  transition: transform .4s ease-in;
  opacity: 0.5;
}
.feynman__link:hover {
  transition: transform .4s ease-in;
  opacity: 0.5;
}
.khan {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  background-color: #f2f2f2;
  position: relative;
}
.khan__container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 105px;
}
.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}
.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 50px;
}
.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 36px;
}
.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 10px;
}
.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}
.khan__book-container {
  display: flex;
  flex-direction: row;
  margin-top: 68px;
}
.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: left top;
}
.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  height: 100%;
  margin-left: 48px;
}
.khan__buy-link:hover {
  transition: transform .4s ease-in;
  opacity: 0.5;
}
.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  z-index: -1;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
}
.section-title_theme_dark {
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin-top: 90px;
  width: 60%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  width: 60%;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}
.table_theme_dark {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  justify-content: center;
  padding-top: 0px;
  z-index: 2;
}
.table__cell_theme_dark {
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  color: white;
  padding-top: 80px;
}
.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0;
}
.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}
.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0px;
}
.resources {
  padding-top: 100px;
  padding-bottom: 217px;
}
.resources__logo-zone {
  margin-right: auto;
  margin-left: auto;
  width: 1100px;
  margin-top: 80px;
}
.resources__logo {
  width: 270px;
  height: 38px;
  margin: 0;
}
.resources__logo:hover {
  transition: transform .4s ease-in;
  opacity: 0.5;
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  min-height: 350px;
}
.footer__columns {
  color: white;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  min-height: 250px;
}
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
.logo_place_footer {
  height: 35px;
  width: 183px;
}
.footer__column_content_info {

}
.footer__column_content_social {

}
.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}
.footer__social-icon {
  margin-top: 0px;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.footer__column-link {
  color: white;
  text-decoration: none;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-link:hover {
  transition: transform .4s ease-in;
  opacity: 0.5;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 16px;
}
