.footer__columns {
    color: white;
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    min-height: 250px;
  }