.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  width: 60%;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}